body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:557px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:82px;
  top:65px;
  width:787px;
  height:557px;
}
#u317 {
  position:absolute;
  left:2px;
  top:270px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:56px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u318 {
  position:absolute;
  left:82px;
  top:72px;
  width:787px;
  height:56px;
  font-size:16px;
}
#u319 {
  position:absolute;
  left:2px;
  top:12px;
  width:783px;
  word-wrap:break-word;
}
#u320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u320 {
  position:absolute;
  left:110px;
  top:84px;
  width:167px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u321 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u322 {
  position:absolute;
  left:344px;
  top:89px;
  width:68px;
  height:27px;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u323 {
  position:absolute;
  left:2px;
  top:-2px;
  width:64px;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u324 {
  position:absolute;
  left:456px;
  top:89px;
  width:68px;
  height:27px;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u325 {
  position:absolute;
  left:2px;
  top:-2px;
  width:64px;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u326 {
  position:absolute;
  left:549px;
  top:86px;
  width:68px;
  height:27px;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u327 {
  position:absolute;
  left:2px;
  top:-2px;
  width:64px;
  word-wrap:break-word;
}
#u328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3333FF;
}
#u328 {
  position:absolute;
  left:647px;
  top:86px;
  width:68px;
  height:27px;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3333FF;
}
#u329 {
  position:absolute;
  left:2px;
  top:-2px;
  width:64px;
  word-wrap:break-word;
}
#u330 {
  position:absolute;
  left:777px;
  top:110px;
  width:19px;
  height:12px;
}
#u330_input {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u330_input:disabled {
  color:grayText;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u331 {
  position:absolute;
  left:82px;
  top:162px;
  width:300px;
  height:212px;
}
#u332 {
  position:absolute;
  left:2px;
  top:98px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:167px;
  top:162px;
  width:78px;
  height:22px;
}
#u333_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background-color:#000099;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u334 {
  position:absolute;
  left:89px;
  top:200px;
  width:293px;
  height:26px;
}
#u334_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u335 {
  position:absolute;
  left:89px;
  top:242px;
  width:293px;
  height:26px;
}
#u335_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u336 {
  position:absolute;
  left:89px;
  top:284px;
  width:293px;
  height:35px;
}
#u336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u337 {
  position:absolute;
  left:183px;
  top:341px;
  width:84px;
  height:23px;
}
#u337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u338 {
  position:absolute;
  left:82px;
  top:410px;
  width:300px;
  height:212px;
}
#u339 {
  position:absolute;
  left:2px;
  top:98px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340 {
  position:absolute;
  left:167px;
  top:410px;
  width:78px;
  height:22px;
}
#u340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background-color:#000099;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u341 {
  position:absolute;
  left:89px;
  top:448px;
  width:293px;
  height:26px;
}
#u341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u342 {
  position:absolute;
  left:89px;
  top:490px;
  width:293px;
  height:26px;
}
#u342_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u343 {
  position:absolute;
  left:89px;
  top:532px;
  width:293px;
  height:35px;
}
#u343_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u344 {
  position:absolute;
  left:183px;
  top:589px;
  width:84px;
  height:23px;
}
#u344_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u345 {
  position:absolute;
  left:569px;
  top:162px;
  width:300px;
  height:212px;
}
#u346 {
  position:absolute;
  left:2px;
  top:98px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347 {
  position:absolute;
  left:654px;
  top:162px;
  width:78px;
  height:22px;
}
#u347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background-color:#000099;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u348 {
  position:absolute;
  left:576px;
  top:200px;
  width:293px;
  height:26px;
}
#u348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u349 {
  position:absolute;
  left:576px;
  top:242px;
  width:293px;
  height:26px;
}
#u349_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u350 {
  position:absolute;
  left:576px;
  top:284px;
  width:293px;
  height:35px;
}
#u350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u351 {
  position:absolute;
  left:670px;
  top:341px;
  width:84px;
  height:23px;
}
#u351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  position:absolute;
  left:569px;
  top:410px;
  width:300px;
  height:212px;
}
#u353 {
  position:absolute;
  left:2px;
  top:98px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354 {
  position:absolute;
  left:654px;
  top:410px;
  width:78px;
  height:22px;
}
#u354_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background-color:#000099;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u355 {
  position:absolute;
  left:576px;
  top:448px;
  width:293px;
  height:26px;
}
#u355_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u356 {
  position:absolute;
  left:576px;
  top:490px;
  width:293px;
  height:26px;
}
#u356_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u357 {
  position:absolute;
  left:576px;
  top:532px;
  width:293px;
  height:35px;
}
#u357_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u358 {
  position:absolute;
  left:670px;
  top:589px;
  width:84px;
  height:23px;
}
#u358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
